site_name: Мой сайт на MkDocs
 
repo_url: https://github.com/alineitgirl/EDMS
theme:
  name: material
  language: ru  
  palette:
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Переключить тёмную тему
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight

nav:
  - Главная: index.md
  - Лекция 1: lecture01.md
  - Лекция 2: lecture02.md
  - Лекция 3: lecture03.md
  - Лекция 4: lecture04.md
  - Лекция 5: lecture05.md

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.emoji
  - toc:
      permalink: true