site_name: Мой сайт на MkDocs
 
repo_url: https://github.com/alineitgirl/EDMS
theme:
  name: material
  language: ru  
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy  
    - content.tabs.link   
  icon:
    logo: material/book-open-page-variant  

palette:
  - scheme: default
    primary: indigo
    accent: amber
    toggle:
      icon: material/weather-sunny
      name: Переключить на тёмный режим

  - scheme: slate
    primary: indigo
    accent: amber
    toggle:
      icon: material/weather-night
      name: Переключить на светлый режим

nav:
  - Главная: index.md
  - Лекция 1: lecture01.md
  - Лекция 2: lecture02.md
  - Лекция 3: lecture03.md
  - Лекция 4: lecture04.md
  - Лекция 5: lecture05.md

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.emoji
  - toc:
      permalink: true
  - attr_list
  - md_in_html